<h2>Am I Snowed In Pal?</h2>
<p><%= "#{@weather_response}" %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Daytime Weather</th>
      <th scope="col">Nightime Weather</th>
      <th scope="col">Minimum Temp (C)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @weather_report_day1[0] %></th>
      <td><%= @weather_report_day1[2]['daytime']['text'] %></td>
      <td><%= @weather_report_day1[2]['night']['text'] %></td>
      <td><%= @weather_report_day1[2]['night']['min_temperature'] %></td>
    </tr>
    <tr>
      <th scope="row"><%= @weather_report_day2[0] %></th>
      <td><%= @weather_report_day2[2]['daytime']['text'] %></td>
      <td><%= @weather_report_day2[2]['night']['text'] %></td>
      <td><%= @weather_report_day2[2]['night']['min_temperature'] %></td>
    </tr>
    <tr>
      <th scope="row"><%= @weather_report_day3[0] %></th>
      <td><%= @weather_report_day3[2]['daytime']['text'] %></td>
      <td><%= @weather_report_day3[2]['night']['text'] %></td>
      <td><%= @weather_report_day3[2]['night']['min_temperature'] %></td>
    </tr>
  </tbody>
</table>

<a class="btn btn-success" href="/" role="button">Thanks Buddy!</a>