<% @weather_data = [@weather_report_day1, @weather_report_day2, @weather_report_day3]%>
<h2>Am I Snowed In Pal?</h2>
<p><%= "#{@weather_response}" %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Daytime Weather</th>
      <th scope="col">Nightime Weather</th>
      <th scope="col">Minimum Temp (C)</th>
    </tr>
  </thead>
  <tbody>
    <% @weather_data.each do |weather_item|%>
    <tr>
      <th scope="row"><%= weather_item[0] %></th>
      <td><%= weather_item[2]['daytime']['text'] %></td>
      <td><%= weather_item[2]['night']['text'] %></td>
      <td><%= weather_item[2]['night']['min_temperature'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<a class="btn btn-success" href="/" role="button">Thanks Buddy!</a>