<h2>Is it blowin' a gale pal?</h2>
<p><%= " #{am_i_response(get_forecast()['summary'], 'high_wind_night')}" %></p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Daytime Weather</th>
      <th scope="col">Nightime Weather</th>
      <th scope="col">Avg. Wind Speed (mph)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @weather_report_day1[0] %></th>
      <td><%= @weather_report_day1[2]['daytime']['text'] %></td>
      <td><%= @weather_report_day1[2]['night']['text'] %></td>
      <td><%= @weather_report_day1[1]['value'] %></td>
    </tr>
    <tr>
      <th scope="row"><%= @weather_report_day2[0] %></th>
      <td><%= @weather_report_day2[2]['daytime']['text'] %></td>
      <td><%= @weather_report_day2[2]['night']['text'] %></td>
      <td><%= @weather_report_day2[1]['value'] %></td>
    </tr>
    <tr>
      <th scope="row"><%= @weather_report_day3[0] %></th>
      <td><%= @weather_report_day3[2]['daytime']['text'] %></td>
      <td><%= @weather_report_day3[2]['night']['text'] %></td>
      <td><%= @weather_report_day3[1]['value'] %></td>
    </tr>
  </tbody>
</table>

<a class="btn btn-secondary" href="/" role="button">Thanks Buddy!</a>